body {
  margin: 0;
  box-sizing: border-box;
}

.wrap {
  width: 1140px;
  margin: 0 auto;
}

.page-header {
  background-color: #222222;
  color: white;
  padding: 18px 0px;
}

.wrap-header {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1140px) {
  .wrap {
    width: 720px;
  }
}

@media (max-width: 750px) {
  .wrap {
    width: 570px;
  }
}

@media (max-width: 580px) {
  .wrap {
    width: 360px;
  }
}

.header-item-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 111px;
}
.header-item-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 168px;
}

#header-link {
  display: flex;
  align-items: flex-end;
}

.promo {
  background-color: #f1e4e6;
  height: 764px;
}

.background-promo {
  height: 760px;
  background-image: url("../img/promo/Layer_57-removebg-preview%201.png");
  background-repeat: no-repeat;
  background-position: -225px 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.promo-title {
  margin-top: -35px;
  margin-right: 90px;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
}

#promo-txt-big {
  font-family: Lato, Black;
  color: #222222;
  font-size: 48px;
  line-height: 57px;
}

#promo-txt-1 {
  font-family: Lato;
  font-weight: 900;
  color: #222222;
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
}

#promo-txt-2 {
  font-weight: 700;
  font-family: Lato;
  color: #222222;
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
  color: #f16d7f;
}

.offer {
  padding: 65px 0px 96px 0px;
}

.wrap-offer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 30px 5px;
}

.offer-img {
  height: 100%;
  width: 100%;
}

.background-img {
  position: relative;
  height: 100%;
}

.background-img:before {
  content: "";
  background-color: #211616;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.offer-txt {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}

.offer-txt-small {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.offer-txt-big {
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.products-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.products-subtitle {
  margin: 0px;
  padding: 0;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}
.product-conteiner {
  background-color: #f8f8f8;
  width: 360px;
}

.product-grid {
  padding: 0;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
  list-style: none;
}

.products-text-title {
  font-family: Lato;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.6px;
  padding: 0 18px;
}

.product-txt {
  padding: 0 18px;
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
  color: #5d5d5d;
}

.products-prise {
  padding: 0 18px;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #f16d7f;
}

.products-button {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 95px;
}

#product-link {
  text-decoration: none;
}

.products-btn-text {
  text-align: center;
  width: 100%;
  border: 1px solid #ff6a6a;
  padding: 10px;
  color: #f26376;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
}

.feuter {
  height: 340px;
  background-color: #222224;
}

.feuter-wrap {
  width: 1070px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.feuter-item-img {
  display: block;
  padding-top: 100px;
  margin: 0 auto;
}

.feuter-item-title {
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 23.95px;
  color: #fbfbfb;
}

.feuter-item-txt {
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 13.97px;
  line-height: 16.77px;
  color: #fbfbfb;
}

.feedback {
  height: 448px;
  background-image: url("../img/feedback/fb1.jpg");
}

.feedback-background {
  /* margin: 0px 0px 0px 0px;
  height: 448px;
  background-color: #f4f4f4;
  opacity: 0.7;
  z-index: -1; */
  position: relative;
  height: 100%;
}

.feedback-background:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #f4f4f4;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.feedback-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 448px;
}

.feedback-item-left {
  width: 225px;
  z-index: 3;
}

#feedback-image {
  display: block;
  margin: 0 auto;
}

.feedback-txt {
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.feedback-italik {
  font-style: italic;
}

.feedback-title {
  margin: 0;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

.feedback-title-small {
  margin: 0;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.feedback-item-right {
  /* width: 225px; */
  z-index: 3;
}

.subscribe {
  display: flex;
  height: 50px;
  justify-content: center;
  margin-top: 32px;
}

.subscribe-field {
  width: 200px;
  margin: 0;
  border: none;
  background-color: #e1e1e1;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  font-family: Lato;
  font-size: 14px;
  text-align: left;
  line-height: 17px;
  color: #222224;
}

.subscribe-btn {
  width: 100px;
  margin: 0;
  border: none;
  background-color: #f16d7f;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.feuter-end {
  height: 79px;
  background-color: #222224;
}

#feuter-end-txt {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #fbfbfb;
}

.feuter-inner-wrapper {
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
