.catalog-inner-wrap {
  height: 50px;
  width: 61%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 21px;
}

.catalog-dropdown-left,
.catalog-dropdown-right {
  padding: 0px 20px 0px 20px;
}

.catalog-dropdown-left {
  position: relative;
}

.spoiler-list-1 {
  list-style: none;
}

.spoiler-list-2 {
  list-style: none;
}

.dropdown-list {
  padding: 0px;
  margin: 0px;
  width: 360px;
  background-color: #fff;
  list-style: none;
  position: absolute;
  z-index: 3;
  box-shadow: 0px 0px 30px 1px #6f6e6e;
  opacity: 0;
  pointer-events: none;
}

.catalog-dropdown-btn-right {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  fill: #6f6e6e;
}

.dropdown-arrow {
  padding-left: 8px;
}

.catalog-dropdown-btn-left {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Lato";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  fill: #000;
}

.catalog-dropdown-btn-left:hover + ul {
  opacity: 1;
  pointer-events: all;
}
.dropdown-list:hover {
  opacity: 1;
  pointer-events: all;
}

.spoiler1,
.spoiler2 {
  padding: 10px 0px 10px 0px;
}

.spoiler-label {
  color: #ef5b70;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #6f6e6e;
  margin-left: 10px;
  padding-left: 10px;
}

#spoiler-check-1 {
  display: none;
}

.spoiler1 div {
  display: none;
}

#spoiler-check-1:checked ~ div {
  display: block;
}

#spoiler-check-2 {
  display: none;
}

.spoiler2 div {
  display: none;
}

#spoiler-check-2:checked ~ div {
  display: block;
}

.inner-wrap {
  display: flex;
  justify-content: center;
  margin: 43px 0px 95px 0px;
}

.paggination-list {
  position: absolute;
  display: flex;
  flex-direction: row;
  border: 1px solid #ebebeb;
  padding: 15px 10px 15px;
  list-style: none;
}

.paggination-list button {
  border: none;
  background-color: transparent;
}
.paggination-list a {
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  color: #c4c4c4;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  &:hover {
    color: #ef5b70;
  }

  &:active {
    color: #ef5b70;
  }
}
