.catalog-nav {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  position: relative;
  margin-top: 50px;
}

.filter {
  width: 360px;
  cursor: pointer;
  &[open] {
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    z-index: 11;
  }

  &[open] .filter-dropdown {
    color: #ef5b70;
    background-color: #fff;
    position: relative;
    z-index: 1001;
  }

  &[open] .filter-icon {
    fill: #ef5b70;
  }
}

.filter-icon {
  padding-left: 10px;
  fill: #000;
}

.filter-dropdown {
  text-transform: uppercase;
  display: block;
  padding-left: 15px;
  padding-top: 15px;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  &[open] {
    background-color: #000;
  }
}

.filter-dropdown-list {
  position: absolute;
  z-index: 1000;
  list-style: none;
  padding: 0px;
  margin: 0px;
  background-color: #fff;
  width: 360px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter-dropdown-menu summary {
  display: block;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ef5b70;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  margin: 18px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.sub-filter-dropdown {
  list-style: none;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-left: 30px;
  padding: 0px;
}

.sub-filter-dropdown li {
  padding-bottom: 15px;
}

.right-dropdown {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.right-dropdown-btn summary {
  background-color: transparent;
  display: block;
  border: none;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.right-dropdown-icon {
  fill: #6f6e6e;
  padding-left: 5px;
  padding-bottom: 2px;
}

.inner-wrap {
  display: flex;
  justify-content: center;
  margin: 43px 0px 95px 0px;
}

.paggination-list {
  position: absolute;
  display: flex;
  flex-direction: row;
  border: 1px solid #ebebeb;
  padding: 15px 10px 15px;
  list-style: none;
}

.paggination-list button {
  border: none;
  background-color: transparent;
}
.paggination-list a {
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  color: #c4c4c4;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  &:hover {
    color: #ef5b70;
  }

  &:active {
    color: #ef5b70;
  }
}
