.feature {
  height: 340px;
  background-color: #222224;
}

.feature-wrap {
  width: 1070px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.feature-item-img {
  display: block;
  padding-top: 100px;
  margin: 0 auto;
}

.feature-item-title {
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 23.95px;
  color: #fbfbfb;
}

.feature-item-txt {
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 13.97px;
  line-height: 16.77px;
  color: #fbfbfb;
}
