.page-header {
  background-color: #222222;
  color: white;
  padding: 18px 0px;
}

.wrap-header {
  display: flex;
  justify-content: space-between;
}



.header-item-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 111px;
}

.nav-right {
  display: flex;
  align-content: flex-end;
  
  @media (max-width: 767px){
    nav-right::nth-last-child(1){
      display: none;
    }
  }
}

.main-nav {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background-color: #fff;
  position: absolute;
  width: 232px;
  height: 760px;
  box-sizing: border-box;
  right: 0;
  padding: 20px;
  top: 75px;
  z-index: 1000;
}

.main-nav-close {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 5px;
  top: 10px;
}

.fa-times {
  color: #000;
  font-size: 20px;
}

.main-nav-title {
  text-transform: uppercase;
  font-family: "Lato";
  color: #000;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding: 0px;
  padding-left: 15px;
  padding-top: 20px;
  margin: 0px;
}

.main-nav-list {
  padding: 0px;
  margin: 0px;
  padding-left: 15px;
  padding-top: 24px;
}

.sub-nav-list {
  padding: 0px;
  margin: 0px;
  padding-left: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.sub-nav-item {
  color: #6f6e6e;
  list-style: none;
  padding: 8px;
}

.main-nav-link {
  text-decoration: none;
  color: #f16d7f;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.header-item-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  width: 168px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.header-item-right li {
  position: relative;
}
.header-link {
  display: flex;
  align-items: flex-end;
  fill: #fff;
  transition: 0.5s;
  &:hover {
    fill: #f16d7f;
  }
}

.search-button {
  background-color: transparent;
  position: relative;
  border: none;
  display: flex;
  align-content: flex-end;
  fill: #fff;
  transition: 0.5s;
  &:hover {
    fill: #f16d7f;
  }
}

.sub-menu .fa-times {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  font-size: 20px;
}

.close-btn {
  border: none;
  background-color: transparent;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 43px;
  background-color: #fff;
  padding: 0px;
  list-style: none;
  color: #222222;
  padding: 20px 20px 0px 20px;
  height: 770px;
  margin-bottom: 0px;
  text-align: start;
  display: none;
  z-index: 3;
}

.dropbtn:hover + ul {
  display: block;
}

.menu-title {
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0px;
}
