.offer {
  margin: 65px 0px 96px 0px;
  @media (max-width: 1190px) {
    margin: 20px 0px 158px 0px;
  }
}

.wrap-offer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 30px 5px;
  overflow: hidden;
  @media (max-width: 1190px){
    gap:5px 5px;
  }

  @media (max-width: 767px) {
    gap: 32px;
    justify-content: center;
  }
}

.offer-img {
  height: 100%;
  width: 100%;
  @media (max-width: 1190px) {
    height: 167px;
    width: 232px;
  }

  @media (max-width: 767px) {
    width: 343px;
    height: 247px;
  }

}

.long-img {
  height: 100%;
  width: 100%;
  @media (max-width: 1190px) {
    height: 167px;
  }

  @media (max-width: 767px){
    width: auto;
  }
}

.background-img {
  position: relative;
  height: 100%;
  
  &:before {
    content: "";
    background-color: #211616;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    @media (max-width: 1190px){
      height: 167px;
    }

    @media (max-width: 767px) {
      height: 100%;
    }
    
  }
}

.offer-txt {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}

.offer-txt-small {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.offer-txt-big {
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}
