.offer {
  padding: 65px 0px 96px 0px;
}

.wrap-offer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 30px 5px;
}

.offer-img {
  height: 100%;
  width: 100%;
}

.background-img {
  position: relative;
  height: 100%;
}

.background-img:before {
  content: "";
  background-color: #211616;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.offer-txt {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}

.offer-txt-small {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.offer-txt-big {
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}
