.product-cart {
  padding-bottom: 130px;
}

.cart-wrap-inner {
  border: 1px solid #eaeaea;
  margin-top: -60px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 130px;
}

.cart-top {
  border-bottom: 1px solid #eaeaea;
  width: 650px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  & h2,
  h3,
  p {
    margin: 0px;
  }

  & h2 {
    font-family: "Lato";
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
    padding-top: 60px;
  }

  & h3 {
    font-family: "Lato";
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4d4d4d;
    padding-bottom: 45px;
  }

  & p {
    font-family: "Lato";
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5e5e5e;
    padding-bottom: 30px;
  }

  & .cart-prise {
    font-family: "Lato";
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #ef5b70;
  }
}

.border-cart {
  background-color: #ef5b70;
  width: 60px;
  height: 4px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.cart-bottom .btn {
  color: #f26376;
  fill: #f26376;
  border: 1px solid#f26376;
  margin-top: 45px;
  margin-bottom: 60px;

  & .fa-shopping-cart {
    color: #f26376;
  }
}

.cart-bottom-btn {
  margin-top: 60px;
  border: none;
  background-color: transparent;
  padding: 0px 10px 0px 10px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.cart-center {
  display: flex;
  justify-content: center;
}
