.products-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.products-subtitle {
  margin: 0px;
  padding: 0;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}
.product-conteiner {
  background-color: #f8f8f8;
  width: 360px;
}

.overlay-conteiner {
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 420px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(58, 56, 56, 0.86);
  opacity: 0;
  transition: 0.5s;
}

.overlay-conteiner:hover .overlay {
  opacity: 1;
}

.product-grid {
  padding: 0;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
  list-style: none;
  gap: 30px;
}

.btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 15px 18px;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  opacity: 1;
  transition: 0.5s;

  &:hover {
    transform: scale(120%);
  }
}

.fa-shopping-cart {
  color: #ffffff;
  padding-right: 10px;
  font-size: 20px;
  opacity: 1;
}

.products-text-title {
  font-family: Lato;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.6px;
  padding: 0 18px;
}

.product-txt {
  padding: 0 18px;
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
  color: #5d5d5d;
}

.products-prise {
  padding: 0 18px;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #f16d7f;
}

.products-button {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 95px;
}

.products-button:hover .products-btn-text {
  background-color: #f16d7f;
  color: #fff;
  transition: 0.5s;
}

#product-link {
  text-decoration: none;
}

.products-btn-text {
  text-align: center;
  border: 1px solid #ff6a6a;
  padding: 10px;
  color: #f26376;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
}
