.slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding-bottom: 60px;
}

.slider-btn-left {
  border: none;
  background-color: rgba(42, 42, 42, 0.15);
  padding: 15px 20px 15px 20px;

  &:hover .slider-arrow {
    fill: #f16d7f;
  }
  &:active {
    background-color: #2a2a2a;
  }
}

.slider-btn-right {
  border: none;
  background-color: rgba(42, 42, 42, 0.15);
  padding: 15px 20px 15px 20px;

  &:hover .slider-arrow {
    fill: #f16d7f;
  }
  &:active {
    background-color: #2a2a2a;
  }
}

.slider-arrow {
  fill: #000;
}
