.feedback {
  height: 448px;
  background-image: url("/img/Subscribe-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback-background {
  /* margin: 0px 0px 0px 0px;
    height: 448px;
    background-color: #f4f4f4;
    opacity: 0.7;
    z-index: -1; */
  position: relative;
  height: 100%;
}

.feedback-background:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #f4f4f4;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.feedback-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 448px;
}

.feedback-item-left {
  width: 225px;
  z-index: 3;
}

#feedback-image {
  display: block;
  margin: 0 auto;
}

.feedback-txt {
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.feedback-italik {
  font-style: italic;
}

.feedback-title {
  margin: 0;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

.feedback-title-small {
  margin: 0;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.feedback-item-right {
  /* width: 225px; */
  z-index: 3;
}

.subscribe {
  display: flex;
  height: 50px;
  justify-content: center;
  margin-top: 32px;
}

.subscribe-field {
  width: 200px;
  margin: 0;
  border: none;
  background-color: #e1e1e1;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  font-family: Lato;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 17px;
  color: #222224;
}

.subscribe-btn {
  width: 100px;
  margin: 0;
  border: none;
  background-color: #f16d7f;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
